[Desktop Entry]
Name=Autorun
Name[ar]=تشغيل تلقائي
Name[bg]=Autorun
Name[bn]=Autorun
Name[ca]=Autorun
Name[cs]=Autorun
Name[cy]=Awtoredeg
Name[da]=Autorun
Name[de]=Autorun
Name[es]=Autorun
Name[et]=Automaatne käivitus
Name[fi]=Autorun
Name[fr]=Autorun
Name[gu]=આપોઆપ ચલાવો
Name[hi]=स्वचलित
Name[hr]=Autorun
Name[hu]=Automatikus CD-csatlakoztatás
Name[id]=Autorun
Name[is]=Autorun
Name[it]=Autorun
Name[ja]=オートラン
Name[ko]=Autorun
Name[mk]=Autorun
Name[ms]=Autorun
Name[nb]=Autorun
Name[nl]=Autorun
Name[no]=Autorun
Name[pa]=ਸਵੈ-ਚਾਲਕ
Name[pl]=Autorun
Name[pt]=Autorun
Name[pt_BR]=Autorun
Name[ru]=Autorun
Name[sk]=Autorun
Name[sl]=Samozagon
Name[sv]=Autorun
Name[ta]=தன்னியக்கம்
Name[th]=Autorun
Name[tr]=Autorun
Name[uk]=Autorun
Name[vi]=Autorun
Name[zh_CN]=Autorun
Name[zh_TW]=Autorun
Comment=Autorun - the CD-ROM mounter for the lazy user
Comment[ar]=التّشغيل التّلقائي - مُجهّز القرص المدمج للمستخدم الكسول
Comment[bg]=Autorun - CD-ROM монтьор за лениви потребители
Comment[bn]=Autorun - অলস ব্যবহারকারীদের জন্য একটি CD-ROM মাউন্টার
Comment[ca]=Autorun - el muntador de CD-ROM per a l'usuari mandrós
Comment[cs]=Autorun - připojovač CD-ROM pro líného uživatele
Comment[cy]=Awtoredeg - y gosodydd CDd-ROM ar gyfer y defnyddiwr diog
Comment[da]=Autorun - CD-montering for den dovne bruger
Comment[de]=Autorun - der CD-ROM Mounter für den trägen Benutzer
Comment[es]=Autorun - el montador de CD-ROM para el usuario holgazán
Comment[et]=Automaatne käivitus - CD-ROM ühendaja laisale kasutajale
Comment[fi]=Autorun - CD-ROM-liitin laiskoille käyttäjille
Comment[fr]=Autorun - le monteur de CD-ROM pour les paresseux
Comment[gu]=આપોઆપ ચલાવો - બેદરકાર વપરાશકર્તા માટે CD-ROM માઉન્ટ કરનાર
Comment[hi]=स्वचलित - सुस्त उपयोग करता के लिए CD-ROM आरोहक 
Comment[hr]=Autorun - CD-ROM monter za ljenog korisnika
Comment[hu]=Automatikus CD-csatlakoztató program
Comment[id]=Autorun - Pemasang CD-ROM untuk pemakai yang malas
Comment[is]=Autorun - Geisladrifstengill fyrir lata notandann
Comment[it]=Autorun - il CD-ROM mounter per gli utenti più pigri!
Comment[ja]=オートラン---怠け者ユーザーの為のCD-ROMマウンター
Comment[ko]=Autorun - 게으른 사용자를 위한 CD-ROM 마운트 프로그램
Comment[mk]=Autorun - це-де ROM монтирач за мрзливиот корисник
Comment[ms]=Autorun - pelekap CD-ROM untuk pengguna malas
Comment[nb]=Autorun - CD-montering for den late bruker
Comment[nl]=Autorun - de CD-ROM aankoppelaar voor de luie gebruiker
Comment[no]=Autorun - CD-montering for den late bruker
Comment[pa]=ਸਵੈ-ਚਾਲਕ - ਸੁਸਤ ਉਪਯੋਗੀ ਲਈ ਸੀ ਡੀ-ਰੋਮ ਮਾਊਟ-ਯੰਤਰ
Comment[pl]=Autorun - program montujący CD-ROM dla leniwego użytkownika
Comment[pt]=Autorun - ferramenta para montar CD-ROMS para o utilizador preguiçoso
Comment[pt_BR]=Autorun - a ferramenta para montar CD-ROMS para o usuário preguiçoso
Comment[ru]=Autorun - программа монтирования CD-ROM для ленивого пользователя
Comment[sk]=Autorun - pripájač CD-ROM pre lenivého používateľa
Comment[sl]=Samozagon - priklop CD-ROM za lene uporabnike
Comment[sv]=Autorun - cd-rommonteraren för den late användaren
Comment[ta]=தன்னியக்கம் - குறுந்தகடு பயனரின் வசதிக்காக ஏற்றப்பட்டது
Comment[th]=Autorun - ตัวเมานท์ซีดีสำหรับผู้ใช้ที่ขี้เกียจ
Comment[tr]=Autorun - aceleci kullanıcılar için CD-ROM bağlayıcı
Comment[uk]=Autorun - програма монтування CD-ROM для лінивого користувача
Comment[vi]=%s-%s -- Bộ gắn CD-ROM cho người dùng lười
Comment[zh_CN]=Autorun - 给喜欢省事的用户提供的光盘挂载器
Comment[zh_TW]=Autorun - 給懶惰使用者的 CD-ROM 掛載器
Exec=/usr/bin/autorun -l --interval=1000 --cdplayer=/usr/bin/kscd
Icon=cdrom_unmount.png
Type=Application
Categories=Application;Utility;X-Red-Hat-Base;
Encoding=UTF-8
